.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: b
}

.title {
  font-size: 6rem;
  font-weight: 900;
  color: rgb(6, 22, 205);
  font-family: fantasy;
}

.totalNumText{
  margin: 2rem;
}

.totalNumText {
  color: var(--dark-brown);
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.resultText{
  font-weight: 800;
  font-size: 1.5rem;
}

.hightlightResult {
  color: #f05837;
  font-weight: 800;
  margin: auto 0.5rem;
}
